@use "../abstracts/" as abs;

.projectBar {
  grid-area: projectBar;

  &__selections {
    margin-top: 1rem;

    display: flex;
    // flex-wrap: wrap;
    gap: 1rem;
  }

  &__button {
    border-radius: abs.rem(12);
    border: 1px solid var(--clr-dark-gray);
    padding: 0.5rem abs.rem(22);
    background-color: transparent;

    color: var(--clr-dark-gray);
    font-weight: 500;
    font-size: abs.rem(14);

    &--active {
      background-color: var(--clr-blue);
      border-color: var(--clr-blue);
      color: white;
    }
  }
}

.projects {
  grid-area: projects;

  display: flex;
  flex-direction: column;
  gap: abs.rem(22);

  @include abs.breakpoint(medium) {
    flex-direction: row;
  }

  // Probably don't need this one
  @include abs.breakpoint(xlarge) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: abs.rem(30);
  }
}

.project {
  display: flex;
  flex-direction: column;

  &--third {
    @include abs.breakpoint(medium) {
      display: none;
    }

    @include abs.breakpoint(xlarge) {
      display: flex;
    }
  }

  &__image {
    img {
      aspect-ratio: 292 / 217;
      width: 100%;
      border-radius: 12px;
    }
  }

  &__tags {
    margin-top: abs.rem(24);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    span {
      font-size: 1rem;
      font-weight: 500;
      color: var(--clr-dark-gray);
    }
  }

  &__title {
    margin-top: abs.rem(22);
    color: var(--clr-dark-gray);
    font-weight: 500;
    font-size: abs.rem(24);
  }

  &__description {
    margin-top: abs.rem(18);
    color: var(--clr-medium);
    font-size: 1rem;
  }

  &__actions {
    margin-top: abs.rem(40);
    display: flex;
    gap: abs.rem(11);
  }
}
